/* Tabla general */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Celdas */
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: middle;
}

/* Columna imagen centrada */
td.imagen {
    text-align: center;
}

/* Imagen ajustada */
td.imagen img {
    max-width: 180px;   /* controla el tamaño */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Contenedor principal */
#contenido {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}