/* Reset y estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff;
    padding-top: 100px;
    /* Ajusta según altura del header */
    color: #111;
}

/* Cabecera */
header {
    position: fixed;
    /* Fijo al hacer scroll */
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    /* Para que quede encima del contenido */
}

.logo img {
    height: 60px;
    width: auto;
}

header nav {
    display: flex;
    gap: 25px;
    flex: 1;
    justify-content: center;
}

header nav a {
    text-decoration: none;
    color: #111;
    font-size: 14px;
    font-weight: bold;
}

header nav a:hover {
    color: #007BFF;
}

/* Icono cel usuario */
.auth {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icono_persona {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    font-size: 18px;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    min-width: 140px;
    overflow: hidden;
    z-index: 10;
}

.menu a {
    display: block;
    padding: 10px;
    color: #333;
}

.menu a:hover {
    background-color: #f0f0f0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    background: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background: #eee;
}

h2 {
    color: #8b0000;
}

/* Footer */
footer {
    background: #222;
    color: #fff;
    padding: 30px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .cards,
    .quick-access {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }
}
button{
    width: 150px;
    height: 50px;
    text-align: center;
    margin: 5px;
    border-radius: 0%;
    background-color: red;
    color: #f7f5f5;
    border: 0px;
    transition: 0.3s;
}

button:hover {
    background-color: #f3f5f7;
    color: red;
    border: black, solid, 1px;
    
}